@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

body,
.container {
    background: #120024;
    color: #ff6000;
    font-weight: bold;
    font-family: 'JetBrains Mono';
}

h3 {
    color: #ff6000;
}

a {
    color: #7C72A0;
    text-decoration: none;
}

h2,
a:hover {
    color: #047e63;
}

input {
    background: #120024;
    border: none;
    outline: none;
    color: #047e63;
    width: 100%;
    font-weight: bold;
}

.btn {
    color: #ff6000;
    background: #120024;
    font-weight: bold;
}

.btn:hover {
    background: #047e63;
    color: #120024;
    font-weight: bold;
}

.date-weather-info {
    background: #120024;
}

.main {
    width: 640px;
}

.date-weather,
.search,
.col {
    background: #250c3e;
}